body {
  background-color: #ffff;
  font-family: Times New Roman, sans-serif;
  margin: 0px
}


.header {
  padding: 30px;
  text-align: center;
  background: royalblue;
  color: white;
  font-size: 15px;
}


h2 {
  padding:20px;
  margin-bottom: 1%;
 
}

